header {
    grid-area: header;
    background-color:gray ;
    width: 100%;
}

footer {
    grid-area: footer;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: burlywood;
    height: 80px;
    padding-top: 60px;
}

nav ul li {
    list-style: none;
    padding: 0;
}

main{
    grid-area: main;
    background-color: bisque;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 15%;
    padding-left: 15%;
}

body {
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
    margin: 0;
}
nav{
    margin-left: 15%;
}
a{
    text-decoration: none;color: black;
}
li{
    display: inline;
}
