.Titre {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.Titre code {
    background: #F5F5F5;
    padding: 2px 6px;
}
header{
background-color: darkolivegreen;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: bisque
}
nav ul li {
    list-style: none;
    padding: 0;
}